.enquiry_title{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.field{
    padding: 20px;
}

.ui.form .field>label{
    font-size: 20px;
}

.imageWP{
    margin-left: 15px;
    
}
.btn_wp{
    display: "flex";
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    margin-bottom: 10px;
}
.wpBtnInside{
    /* style={{backgroundImage:`url(${wp})` ,backgroundSize:"cover",width:"150px",height:'40px'}} */
   width: 150px;
   height: 40px;
}